body {
  background-color: aqua;
  align-items: center;
  justify-content: center;
  display: flex;
}

#card{
  width: 350px;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
}

#storiyan{
  height: 120px;
  width: 100%;
  border-bottom: 2px solid #dadada;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  
}
#storiyan::-webkit-scrollbar{
  display: none;
}

.story{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  
  margin: 10px;
  display: inline-block;
  border: 3px solid red;
  overflow: hidden;
 
}
.story img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

}

#full-screen{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  display: none;
}