body {
    font-family: Arial, sans-serif;
    background-color: #d28b8b;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    overflow: hidden;
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    position: relative;

}

#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#container i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    color: white;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease 0.5s;
}